*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #171717;
}

#anchor{
    background-color: black;
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 100;
    border-radius: 50px;
}
// header-menu-section
header{
    display: flex;
    position: relative;
    justify-content: center;
}

.header{
    padding-top: 16px;
    display: flex;
    justify-content: space-evenly;
    max-width: 1280px;
    flex-shrink: 0;
    width: 100%;
    background-color: white;
}

#logo{
    width: 225px;
    height: auto;
    cursor: pointer;
}

.menu{
    align-items: center;
    display: flex;
    gap: 130px;
    a{
        cursor: pointer;
        align-items: center;
        color: black;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
}
// header-menu-section-end

// page-content

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .img-content{
        display: flex;
        justify-content: center;
        width: 1280px;
    }

    .inscrevase-form{
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1280px;
        width: 1280px;
        gap: 85px;
        padding: 147px 0px 105px 0px;

        
        &-header{
            display: flex;
            max-width: 1016px;
            font-weight: 500;
            font-size: 31px;
            letter-spacing: -1px;
            line-height: 35px;
            text-align: center;
            color: #000000;

        }
        &-content{
            display: flex;
            form{
                display: flex;
                flex-direction: column;
                gap: 18px;
                max-width: 1016px;
                width: 1016px;
                position: relative;

                div{
                    position: relative;
                    display: flex;
                    align-items: center;
                    max-width: 947px;
                    
                }
                input{
                    background-color: #ededed;
                    border-radius: 100px;
                    height: 70px;
                    width: 100%;
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 29px;
                }
                #inscrevase-nome{
                    padding-left: 130px;
                }
                #inscrevase-email{
                    padding-left: 130px;

                }
                #inscrevase-nascimento{
                    text-align: center;
                    padding-right: 20px;
                }
                #inscrevase-phone{
                    padding-left: 95px;
                }
                #inscrevase-cep{
                    padding-left: 95px;
                    
                }
                #inscrevase-endereco{
                    padding-left: 161px;
                    
                }
                #inscrevase-estado{
                    padding-left: 131px;
                    
                }
                select{
                    background-color: #ededed;
                    border-radius: 100px;
                    width: 947px;
                    height: 70px;
                    padding-left: 45px;
                    font-weight: 500;
                    line-height: 29px;
                    font-size: 25px;
                }
    
                .inscrevase-mid{
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                    div{
                        width: 300px;
                        flex-grow: 1;
                    }
                    .inscrevase-nascimento{
                        width: 230px;
                        flex-grow: 0;
                    }
                }

                .inscrevase-bottom{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 17px;
                    .inscrevase-endereco{
                        width: 638px;
                    }
                    .inscrevase-estado{
                        width: 288px;
                    }
                }                

                span{
                    position: absolute;
                    margin-left: 40px;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 29px;
                }
                #inscrevase-form-button{
                    position: absolute;
                    right: 0%;
                    input{
                        align-self: end;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #FF9c00;
                        font-size: 50px;
                        color: white;
                        width: 60px;
                        height: 420px;
                        padding-left: 0px;
                    }
                }
            }
        }



    }
}


// page-content-end


// page-footer
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171717;
    position: relative;

    
    .footer-content{
        display: flex;
        padding: 150px 0px;
        gap: 214px;
        max-width: 1280px;
        width: 100%;
        align-items: center;
        justify-content: center;
        
        &::before{
        content: "";
        background-color: #FF9c00;
        height: 40px;
        width: 824px;
        position: absolute;
        top: -20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 50px;
        transform: translateX(-50%);
        left: 50%;
        z-index: -1;
    }
        .form-footer{
            display: flex;
            flex-direction: column;
            gap: 68px;

            .form-title{
                display: flex;
                color: #FFF;
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 25px;
                line-height: 29px;
                position: relative;
                &::before{
                    content: "";
                    background-color: #FF9c00;
                    width: 213px;
                    height: 9px;
                    position: absolute;
                    top: 64px;
                }
            }
            form{
                
                :focus{
                        background-color: #FF9c00;
                        filter: grayscale(0.2);
                        width: 100%;
                        outline: none;
                }
                :hover{
                    filter: brightness(1.1);
                }
                :active{
                    filter: grayscale(1);
                }

                position: relative;
                ::placeholder{
                    display: flex;
                    position: absolute;
                }

                display: flex;
                flex-direction: column;
                gap: 18px;
                width: 528px;
                #nome-form{
                    text-transform: uppercase;
                    border-radius: 10px;
                    padding: 20px;
                }
                #email-form{
                    text-transform: uppercase;
                    border-radius: 10px;
                    padding: 20px;
                    
                }
                #msg-form{
                    text-transform: uppercase;
                    border-radius: 10px;
                    padding: 20px;
                    height: 147px;
                }
                #button-form{
                    cursor: pointer;
                    height: 61px;
                    text-transform: uppercase;
                    border-radius: 10px;
                    background-color: #FF9c00;
                    color: #FFF;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 29px;
                }   
            }
        }   

        .footer-contact{
            display: flex;
            flex-direction: column;
            gap: 62px;
            .contact-footer-header{
                display: flex;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 29px;
                font-size: 25px;
                color: #FFFFFF;
                position: relative;
                
                &::before{
                    content: "";
                    background-color: #FF9c00;
                    width: 205px;
                    height: 9px;
                    position: absolute;
                    top: 40px;
                }

            }
            .footer-contact-details{
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 337px;
                .contact-footer-title{
                    color: #FF9c00;
                    
                }
                .contact-footer-description{
                    color: #FFF;

                }
            }

            .social-medias{
                display: flex;
                gap: 44px;
                margin-top: 123px;

            img{
                width: 50px;
            }
        }
        }
    }
}
// page-footer-end
